<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/logo.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/logo.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/logo.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/logo.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/logo.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/logo.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/logo.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/logo.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/logo.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/logo.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/logo.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/logo.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/logo.ico/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/logo.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{{ site.url }}/assets/fonts/fonts.css"/>
<link rel="stylesheet" href="{{ site.url }}/assets/style.css"/>
<link rel="stylesheet" href="{{ site.url }}/assets/js/lity.min.css"/>

{% if site.favicon != nil %}
<link rel='shortcut icon' type='image/x-icon' href='{{ site.favicon }}' />
{% endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="{{ site.title }}" />
<meta 
    property="og:title"
    content="
        {% if page.title != nil %}
            {{page.title}}
        {% else %}
            {{site.title}}
        {% endif %}
    " 
/>
{% if page.og_description != nil %}
    <meta property="og:description" content="{{ page.og_description }}" />
{% endif %}
<meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
{% if page.og_type != nil %}
    <meta property="og:type" content="{{ page.og_type }}" />
{% else %}
    <meta property="og:type" content="article" />
{% endif %}
{% if page.og_image != nil %}
    <meta property="og:image" content="{{ site.url }}/{{ page.og_image }}" />
    <meta property="og:image:secure_url" content="{{ site.url }}/{{ page.og_image }}" />
{% endif %}
{% if page.fb_app_id != nil %}
    <meta property="fb:app_id" content="{{ page.fb_app_id }}" />
{% else if site.fb_app_id != nil %}
    <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
{% endif %}


<title>
    {% if page.title != nil %}
        {{page.title}}
    {% else %}
        {{site.title}}
    {% endif %}
</title>
